/* Styles go here */

body {
  /*background:none repeat scroll 0% 0% #0AC5F4 */
  background: #eee url(bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  
}

#container{
  margin-top:100px;
}

.name {
  text-transform: uppercase;
  font: 100 92px/1"lato";
  opacity: 0.6;
}
.contact{
  opacity:0.6;
  margin: 50px 0;
  font: 400 16px/24px"gentium book basic";
  color:#555;
}

.contact a{
  text-decoration: none;
  color:inherit;
}
